* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 136.6rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
}
